html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.saveButton {
  display: block;
  position: fixed;
  bottom: 33px;
  left: 50px;
  font-family: Arial;
  font-size: 12px;
}
